body{
    background-color: aliceblue;
    font: arial;
}

h1{
    text-align: center;
    font: optima;
    font-variant: small-caps;
    text-shadow: black;
    background-image: cross-fade();
}

h2{
    text-align: center;
    font-size: 20px;
    font-weight: 5px;
    font: optima;
}

ul:hover {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
li {
    display: inline;
}
p{
    text-align: center;
}
.p1{
    font-size: 45px;
    text-align: center;
    display: block;
}

.p2{
    border-style: solid;
    border-color: lawngreen;
    border-width: thick;
}

.a1 :visited{
    color: lightcoral;
}
strong{
    font-size: 45px;
    font-weight: bold;
    font: arial;
}
table, th, td{
    border: 5px lightcoral;
    border-collapse: collapse;
}

.header{
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: ivory;
}

.row{
    content: "";
    clear: both;
}

.lside{
    width: 15%;
    float: left;
}
.rside{
    width: 15%;
    float: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: lavender;
}

.content{
    width: 70%;
    float: initial;
    text-align: center;
    vertical-align: center;
}

.footer {
    font-size: small;
    width: 100%;
    background-color: lightgreen;
    float: left;
    text-align: center;
    visibility: visible;
    opacity: initial;
}